<div id="major-groups-ext" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*', params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    MAJOR GROUPS
                </span>
            </div>

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-24 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <!--<button mat-raised-button
                    (click)="saveEditData()"
                    class="add-major-group-button fuse-white my-12 mt-sm-0">
                <span>ADD NEW MAJOR GROUP</span>
            </button>-->

        </div>

        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div id="data-grid-demo">
                <dx-data-grid
                    (onToolbarPreparing)="onToolbarPreparing($event)"
                    (onRowUpdating)="updateCheckUpdating($event)"
                    (onRowUpdated)="updateCheckUpdated($event)"
                    id="gridContainer"
                    [dataSource]="majorGroupsData"
                    keyExpr="majorGroupRn"
                    [showBorders]="true">
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-editing
                        [allowUpdating]="true"
                        mode="batch">
                    </dxo-editing>
                    <dxi-column dataField="majorGroupRn" caption="Major Group Rn" ></dxi-column>
                    <dxi-column dataField="majorGroupName" caption="Major Group Name" ></dxi-column>
                    <dxi-column dataField="reportGroup"></dxi-column>
                </dx-data-grid>
            </div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>