@import "src/@fuse/scss/fuse";


::ng-deep #data-grid-demo {
    min-height: 700px;
}

.dx-datagrid-save-button .dx-icon-edit-button-save {
    font: 14px/1 DXIcons;
    width: 18px;
    height: 18px;
    background-position: 0px 0px;
    background-size: 18px 18px;
    padding: 0px;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
}
.dx-datagrid-save-button .dx-icon-edit-button-save:before {
    content: "\f1b3";
}

:host {

    #major-groups-ext {

        .top-bg {
            @include media-breakpoint('xs') {
                height: 240px;
            }
        }

        > .center {

            > .header {

                .search-input-wrapper {
                    max-width: 480px;
                }

                @include media-breakpoint('xs') {
                    margin: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .major-groups-ex-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .major-group {
            position: relative;
            cursor: pointer;
            height: 64px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 84px;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .major-group-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }
}
