<div id="major-group-ex" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/configurator/menu-items/major-group2/major-groups-ex'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{majorGroupEx.majorGroupName}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Major Group
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Major Group Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-major-group-ex-button"
                    [disabled]="majorGroupExForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addMajorGroupEx()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-major-group-ex-button"
                    [disabled]="majorGroupExForm.invalid || majorGroupExForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveMajorGroupEx()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="majorGroupExForm" [formGroup]="majorGroupExForm" class="major-group-ex w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="majorGroupName"
                                           formControlName="majorGroupName"
                                           placeholder="Major Group Name"
                                           required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="reportGroup"
                                           formControlName="reportGroup"
                                           placeholder="Report Group"
                                           required>
                                </mat-form-field>

                            </div>

                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
